* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header */
.header {
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../img/header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 4.2em;
    color: #007bff;
    text-transform: uppercase;
    margin: 0;
}

hr {
    width: 70px;
    border-color: #007bff;
}

.header-inner p {
    text-transform: uppercase;
}

.header-inner span {
    color: #007bff;
}

.more {
    border: 2px solid #007bff;
    color: #000;
    padding: 10px;
    width: 200px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s;
}

.more:hover {
    background-color: #007bff;
    color: #fff;
}